.nav__icon {
  font-size: 2rem;
  padding: .2rem;
  font-style: italic;
  background-color: #c85621;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.nav__icon a {
  text-decoration: none;
  color:  #c85621;
}

.nav__icon:hover {
  cursor: pointer;
}

.nav__btn {
  display: none;
  color: #c85621;
}

.nav__btn:hover {
  cursor: pointer;
}

.nav__menu {
  transition: left .3s ease-in-out;
}

@media (max-width: 768px) {
  .nav {
    position: relative;
  }

  .nav__btn {
    display: block;
  }

  .nav__menu {
    background-color: #f9ece6;
    width: 70%;
    height: 100vh;
    z-index: 15;
  }

  .hide {
    background-color: none;
    position: absolute;
    left: -100rem;
    top: 0rem;
    display: block;
  }

  .show {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    z-index: 15;
  }
}
