.image-upload {
  width: 100%;
}

.image-upload button {
  margin-bottom: 1rem;
}

.image-upload button:hover {
  cursor: pointer;
}

.image-upload__recipe img {
  width: 100%;
}

.image-upload__avatar div {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.image-upload__avatar img {
  width: 30%;
  border-radius: 50%;
  border: .05rem solid #eee;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .image-upload__avatar img {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .image-upload__avatar img {
    width: 30%;
    min-width: 10rem;
  }
}
