.main {
  margin: 0 2rem;
}

/* @media (max-width: 1400px) {
  .main {
    margin: 0 rem;
  }
}

@media (max-width: 1200px) {
  .main {
    margin: 0 2rem;
  }
}

@media (max-width: 992px) {
  .main {
    margin: 0 .5rem;
  }
} */