.profile {
  margin: 1rem;
  margin-top: 5rem;
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid #c85621;

  display: flex;
}

.profile__image {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__info {
  flex-basis: 60%;
}

@media (max-width: 1024px) {
  .profile {
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .profile__image {
    flex-basis: 30%;
  }
}